<div class="mt-4">
      <form class="form-inline" method="POST">
  <div class="form-group">
    <label for="search-input">TỪ khóa</label>
      <input class="form-control mr-sm-2" type="text" name="q" placeholder="Nhập từ khóa tìm kiếm" aria-label="Search">
  </div>
    <button class="btn btn-outline-success my-2 " type="submit">Search</button>
  </form>
</div>